<#bs4Body>
<div id="app" class="container-fluid">
    <form id="queryForm" role="form" class="form-horizontal" novalidate>
        <div class="row row-cols-4">
            <div class="form-group col">
                <label for="position">职位</label>
                <input type="text" id="position" class="form-control" name="position"
                       focus-shift
                       autocomplete="off"
                       maxlength="100">
            </div>
            <div class="form-group col">
                <label for="realName">姓名</label>
                <input type="text" id="realName" class="form-control" name="realName"
                       placeholder=""
                       focus-shift
                       autocomplete="off"
                       maxlength="100">
            </div>
            <div class="col-auto mt-3">
                <button type="button" class="btn btn-outline-primary mr-2"
                        onclick="javascript:$('#queryForm input').val('');">
                    <i class="fa fa-refresh"></i> 清空
                </button>
                <button type="button" class="btn btn-outline-primary mr-2" onclick="queryDataHandler()">
                    <i class="fa fa-search"></i> 查询
                </button>
            </div>
        </div>
    </form>

    <br>
    <div class="row">
        <div class="col-sm-12 offset-sm-0">
            <table id="grid" data-toggle="table" data-title="转离场称重缴费列表" class="table"
                   data-toolbar="#toolbar" data-pagination="false" data-page-number="1"
                   data-page-size="10" data-query-params="queryParams"
                   data-side-pagination="server"
                   data-content-type="application/x-www-form-urlencoded"
                   data-single-select="false" data-click-to-select="true" data-checkbox-header="true"
                   data-unique-id="id" data-sort-name="id" data-sort-order="desc"
                   data-icons="bui.variable.icons"
                   data-buttons-class="primary">
                <thead>
                <tr>
                    <th data-checkbox="true">选择</th>
                    <th data-field="departmentId" data-align="center">
                        组织
                    </th>
                    <th data-field="realName" data-align="center">
                        姓名
                    </th>
                    <th data-field="position" data-align="center">
                        职位
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div style="height: 60px;"></div>
    <div class="modal-footer-wrap" style="z-index: 999!important;">
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()"
                    data-hotkey="{key: 'Ctrl+E'}">取消
            </button>
            <button type="button" class="btn btn-primary px-5" onclick="submitItems()">提交
            </button>
        </div>
    </div>

</div>
</#bs4Body>
<script>
    let _grid = $('#grid');
    $(function () {
        $(window).resize(function () {
            _grid.bootstrapTable('resetView')
        });
        _grid.bootstrapTable('refreshOptions', {
            url: '/component/userList.action',
            responseHandler: function (res) {
                if (res.code && res.code == "200") {
                    return res.data;
                }
                return [];
            },
            onLoadSuccess: function () {  //加载成功时执行
                _grid.bootstrapTable("checkBy", {field: "id", values: ${ids!}});
            },
        });

    });

    /**
     * 查询处理
     */
    function queryDataHandler() {
        _grid.bootstrapTable('refresh');
    }

    /**
     * table参数组装
     * 可修改queryParams向服务器发送其余的参数
     * @param params
     */
    function queryParams(params) {
        let temp = {
            user: params.order
        };
        return $.extend(temp, bui.util.bindGridMeta2Form('grid', 'queryForm'));
    }

    /**
     * 提交数据:调用父页面的选择回掉函数
     */
    function submitItems() {
        //获取选中行的数据
        let rows = _grid.bootstrapTable('getSelections');
        if (!rows || rows.length <= 0) {
            bs4pop.alert('请选择数据');
            return;
        }
        window.parent.selectUsersCallback(rows);
        parent.dia.hide();
    }
</script>