#uploadBtn {
    width: 100px;
    height: 100px;
    border: 2px dashed lightblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    /* height: 15rem; */
    background: #eee;
    position: relative;
}

.file-item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-thumbnail {
    height: 100%;
    weight: 100%;
    padding: 0px;
}

.file-item:hover .recommends-content-item__info {
    opacity: 1;
    transform: translateY(0);
}

.recommends-content-item__info {
    position: absolute;
    bottom: 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(34, 34, 34, 0.35);
    padding: 0 0.5rem;
    line-height: 25px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(100%);
}