<head>
    <link rel="stylesheet" href="/resources/css/zTree/metroStyle.css">
    <link rel="stylesheet" href="/resources/css/zTree/treeSelectStyle.css">
</head>
<#bs4Body>
<form class="form-horizontal" role="form" id="form">
    <div class="form-group" id="files" style="margin-bottom: 0 !important;">
        <label for="lastname" class="col-sm-2 control-label"><i class="red">*</i>文件：</label>
    </div>
    <div class="row" style="margin-left: 15px;margin-bottom: 15px;">
        <#component_upload _class="col-sm-1.5" _cid="fileUpload" _types="" _maxFileCount="5"
        _uploadInitCount="${fileCount!}"
        _uploadCallback="uploadFileCallback"
        _deleteCallback="deleteFileHandler" _uploadUrl="/uploadFile/doUpload.action"/>
        <div class="col-sm-5">
            <div class="card" style="height: 100px;">
                <div class="card-body" style="padding: 10px;" id="file-group">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="fileName" class="col-sm-2 control-label"><i class="red">*</i>文档名称：</label>
        <div class="col-sm-10">
            <input id="fileName" name="fileName" type="text" class="form-control" placeholder="请输入文档名称"
                   autocomplete="off" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><i class="red">*</i>文档分类：</label>
        <div class="col-sm-10">
            <input id="fileType" type="text" class="form-control" placeholder="请选择" readonly>
            <div style="width: 300px;overflow:hidden;cursor: pointer" id="fileTypeTree"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><i class="red">*</i>配图：</label>
        <div class="col-sm-10">
            <#component_upload _class="form-inline" _cid="imgUpload"
            _types="image/png;image/PNG;image/jpg;image/JPG;image/jpeg;image/JPEG;image/gif;image/GIF" _maxFileCount="1"
            _uploadInitCount=""
            _uploadCallback="uploadImgCallback"
            _deleteCallback="deleteImgFileHandler" _uploadUrl="/uploadFile/doUpload.action"/>
        </div>
    </div>

    <div class="form-group">
        <label for="isDownload" class="col-sm control-label"><i class="red">*</i>支持下载：
            <div class="form-check form-check-inline">
                <label class="radio-inline">
                    <input type="radio" name="isDownload" value="1"> 支持
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="radio-inline">
                    <input type="radio" name="isDownload" value="0"> 不支持
                </label>
            </div>
        </label>
    </div>
    <div class="form-group">
        <label for="authTypeId" class="col-sm control-label"><i class="red">*</i>访问权限：
            <div class="form-check form-check-inline">
                <label class="radio-inline">
                    <input type="radio" name="authTypeId" value="0"> 所有
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="radio-inline">
                    <input type="radio" id="department" name="authTypeId" value="10"> 部门
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="radio-inline">
                    <input type="radio" onclick="openUserPageHandler()" name="authTypeId" value="20">人员
                </label>
            </div>
        </label>
        <div class="col-sm-5">
            <div style="width: 300px;overflow:hidden;cursor: pointer" id="departmentTree"></div>
        </div>
    </div>
    <div id="systemUserAndDepartDev" class="row" style="display: none;">
        <div class="form-group col">
            <div id="userDev" class="container-fluid">
                <button type="button" class="btn btn-outline-primary mr-2" onclick="openUserPageHandler()">
                    <i class="fa"></i>添加用户
                </button>
                <button type="button" class="btn btn-outline-primary mr-2" onclick="deleteUser()">
                    <i class="fa"></i>删除用户
                </button>
                <div class="row">
                    <div class="col-sm-12 offset-sm-0">
                        <table id="grid" data-toggle="table" data-title="用户查询" class="table"
                               data-toolbar="#toolbar" data-pagination="false" data-page-number="1"
                               data-page-size="10" data-query-params="queryParams"
                               data-side-pagination="server"
                               data-content-type="application/x-www-form-urlencoded"
                               data-single-select="false" data-click-to-select="true" data-checkbox-header="true"
                               data-unique-id="id" data-sort-name="id" data-sort-order="desc"
                               data-icons="bui.variable.icons"
                               data-buttons-class="primary">
                            <thead>
                            <tr>
                                <th data-checkbox="true">选择</th>
                                <th data-field="departmentId" data-align="center">
                                    组织
                                </th>
                                <th data-field="realName" data-align="center">
                                    姓名
                                </th>
                                <th data-field="position" data-align="center">
                                    职位
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="remark" class="col-sm-2 control-label">说明：</label>
        <div class="col-sm-10">
            <textarea id="remark" name="remark" class="form-control" rows="3"></textarea>
        </div>
    </div>
</form>

<div style="height: 60px;"></div>
<div class="modal-footer-wrap" style="z-index: 999!important;">
    <div class="modal-footer">
        <button type="button" class="btn btn-primary px-5" onclick="saveOrUpdate()">提交
        </button>
    </div>
</div>

<!--https://www.jq22.com/jquery-info22644-->
<script src="/resources/js/jquery.ztree.all.js"></script>
<script src="/resources/js/treeSelect.2.0.js"></script>
<#file_addJs/>
</#bs4Body>