<#bs4Body>
<div class="container-fluid">
    <div class="wrap">
        <div id="left" class="left">
            <div class="card-body" style="padding-top: 0px;padding-bottom: 1px">
                <div>
                    资料库
                </div>
                <hr>
                <form class="form collapse show" id="query" role="form">
                    <div class="row  row-cols-1">
                        <div class="form-group col" style="width: 100%">
                            <div class="input-group">
                                <select id="type" name="authType" class="form-control selectpicker">
                                    <option value="">--全部类型--</option>
                                    <option value="1">指定组织</option>
                                    <option value="2">指定人员</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="typeToolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                    <button type="button" class="btn btn-primary btn-sm" onclick="addFileTypeHandler()"><i
                            class="fa fa-plus"></i> 新建
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="editFileTypeHandler()"><i
                            class="fa fa-edit"></i> 编辑
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="deleteFileTypeHandler()"><i
                            class="fa fa-trash"></i> 删除
                    </button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div id="maker" class="tab-pane active">
                            <div class="panel panel-default">
                                <div class="panel-body" style="padding: 0px 5px 5px;">
                                    <div class="row">
                                        <ul id="fileTree" class="ztree"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right" class="right">
            <div class="card">
                <div class="breadcrumb" style="border-radius:0 !important;">
                    筛选查询
                </div>
                <div class="card-body">
                    <form class="form collapse show" id="queryForm" role="form">
                        <input type="hidden" id="typeId" name="typeId">
                        <div class="row  row-cols-6">
                            <div class="form-group col">
                                <label for="likeFileName" class="">资料名称</label>
                                <input type="text" class="form-control isWord" id="likeFileName" name="likeFileName"
                                       placeholder="">
                            </div>
                            <div class="form-group col" style="width: 350px">
                                <label for="authType">访问权限</label>
                                <div class="input-group">
                                    <select id="authType" name="authType" class="form-control selectpicker">
                                        <option value="">--全部--</option>
                                        <option value="1">指定组织</option>
                                        <option value="2">指定人员</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-auto">
                                <label for="createTimeStart">发布时间</label>
                                <div class="form-inline">
                                    <div class="input-group">
                                        <input type="text" name="createTimeStart" id="createTimeStart"
                                               class="form-control laydatetime laystart"/>
                                        <div class="input-group-append">
                                            <label for="createTimeStart"
                                                   class="input-group-text fa fa-calendar"></label>
                                        </div>
                                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                                    <div class="input-group">
                                        <input type="text" name="createTimeEnd" id="createTimeEnd"
                                               class="form-control laydatetime layend"/>
                                        <div class="input-group-append">
                                            <label for="createTimeEnd"
                                                   class="input-group-text fa fa-calendar"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-auto align-self-center mt-3">
                                <button type="button" class="btn btn-outline-primary mr-2"
                                        onclick="javascript:$('#queryForm input,select').val('');">
                                    <i class="fa fa-refresh"></i> 清空
                                </button>
                                <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i
                                        class="fa fa-search"></i> 查询
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="breadcrumb" style="border-radius:0 !important;">
                    结果列表
                </div>
                <div class="card-body" style="padding-top:0px !important;">
                    <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">

                        <button type="button" class="btn btn-primary" onclick="openUploadHandler()"><i
                                class="fa fa-upload"></i> 上传
                        </button>

                        <button type="button" class="btn btn-primary" onclick="openEditHandler()"><i
                                class="fa fa-edit"></i> 编辑
                        </button>

                        <button type="button" class="btn btn-primary" onclick="downloadFile()"><i
                                class="fa fa-download"></i> 下载
                        </button>

                        <button type="button" class="btn btn-primary" onclick="openDetailHandler()"><i
                                class="fa fa-eye"></i> 详情
                        </button>

                        <button type="button" class="btn btn-primary" onclick="deleteHandler()"><i
                                class="fa fa-trash"></i> 删除
                        </button>
                    </div>
                </div>

                <table id="grid" data-toggle="table" data-title="文件列表" class="table" data-toolbar="#toolbar"
                       data-pagination="true" data-page-number="1" data-page-size="10" data-query-params="queryParams"
                       data-side-pagination="server" data-method="POST"
                       data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                       data-click-to-select="true" data-checkbox-header="true"
                       data-unique-id="id" data-sort-name="id" data-sort-order="desc" data-icons="bui.variable.icons"
                       data-buttons-class="primary" data-show-refresh="true" data-show-fullscreen="true"
                       data-show-columns="true">
                    <thead>
                    <tr>
                        <th data-checkbox="true"></th>
                        <th data-field="coverImg" data-align="center" data-sortable="true"
                            data-sort-name="cover_img" data-formatter="imgFormatter">
                            资料配图
                        </th>
                        <th data-field="fileName" data-align="center">
                            资料名称
                        </th>
                        <th data-field="authType" data-align="center">
                            访问权限
                        </th>
                        <th data-field="typeId" data-align="center" data-sortable="true"
                            data-sort-name="type_id">
                            资料类型
                        </th>
                        <th data-field="createTime" data-align="center" data-provider="datetimeProvider"
                            data-sortable="true" data-sort-name="start_time">
                            发布时间
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .wrap {
        min-width: 100%;
        position: absolute;
        min-height: 100%;
        overflow: hidden;
    }

    .left {
        margin-left: 0px;
        position: absolute;
        min-width: 15%;
        height: 100%;
    }

    .right {
        float: left;
        padding-left: 16%;
        min-width: 99%;
        min-height: 100%;
    }
</style>

</#bs4Body>
<link rel="stylesheet" type="text/css" href="${contextPath!}/resources/ztree/css/zTreeStyle/zTreeStyle.css"/>
<script type="text/javascript" src="${contextPath!}/resources/ztree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="${contextPath!}/resources/ztree/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="${contextPath!}/resources/ztree/js/jquery.ztree.exedit.js"></script>
<#file_listJs/>
