<#bs4Body>
<head>
    <link rel="stylesheet" href="/resources/css/zTree/metroStyle.css">
    <link rel="stylesheet" href="/resources/css/zTree/treeSelectStyle.css">
</head>
<style>
</style>
<script src="/resources/js/jquery.ztree.all.js"></script>
<script src="/resources/js/treeSelect.2.0.js"></script>
<div class="container-fluid">
        <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
        <form id="saveForm" role="form" novalidate>
            <input type="text" hidden="true"  id="customerType"  class="form-control" name="customerType"  maxlength="100">
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="title">通告标题<i class="red">*</i></label>
                    <input id="title" class="form-control" name="title"  maxlength="20" required>
                </div>
            </div>
            <div class="row row-cols-4">
                <div class="form-group col">
                    <label for="publishType">发布方式<i class="red">*</i></label>
                    <select id="publishType" name="publishType" class="form-control" required>
                        <option value="1">立即发布</option>
                        <option value="2">定时发布</option>
                    </select>
                </div>
            </div>
            <div id="startTimeDev" class="row row-cols-4" style="display: none">
                <div class="form-group col">
                    <label for="startTime">开始时间<i class="red">*</i></label>
                    <div class="input-group">
                        <input  type="text" name="startTime"
                               id="startTime"
                               readonly
                               autocomplete="off"
                               class="form-control settletime laystart"/>
                        <div class="input-group-append">
                            <label for="startTime" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-4">
                <div class="form-group col">
                    <label for="endTime">结束时间<i class="red">*</i></label>
                    <div class="input-group">
                        <input  type="text" name="endTime"
                                id="endTime"
                                required
                                readonly
                                autocomplete="off"
                                class="form-control settletime laystart"/>
                        <div class="input-group-append">
                            <label for="endTime" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="title">通告内容<i class="red">*</i></label>
                    <div id="editor"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="title">发送对象<i class="red">*</i>：</label>
                    <div class="btn-group" role="group" aria-label="Basic example ml-3">
                        <button id="systemBtn" type="button" class="btn btn-secondary">系统用户</button>
                        <button id="customerBtn" type="button" class="btn btn-secondary ml-3" >客户</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="title">发送范围<i class="red">*</i>：</label>
                    <div id="systemDev" class="btn-group" role="group" aria-label="Basic example ml-3">
                        <label class="radio-inline"><input id="allUserBtn" type="radio" name="systemVal" value="1">所有人</label>
                        <label class="radio-inline"><input id="departmentBtn" type="radio" name="systemVal" value="3">指定部门</label>
                        <label class="radio-inline"><input id="userBtn" type="radio" name="systemVal" value="2">指定人员</label>
                    </div>
                    <div id="customerDev" class="btn-group" role="group" aria-label="Basic example ml-3" style="display: none">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" id="driverBtn" class="form-check-input" value="5">司机
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" id="bureyBtn" class="form-check-input" value="6">买家
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" id="sellerBtn" class="form-check-input" value="7">经营户
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div id="systemUserAndDepartDev" class="row" style="display: none">
                <div class="form-group col">
                    <div id="departmentDev" style="display: none">
                        <div style="width: 300px;overflow:hidden;cursor: pointer" id="departmentTree">选择部门</div>
                    </div>
                    <div id="userDev" class="container-fluid" style="display: none">
                        <button type="button" class="btn btn-outline-primary mr-2" onclick="openUserPageHandler()">
                            <i class="fa fa-search"></i>添加用户
                        </button>
                        <button type="button" class="btn btn-outline-primary mr-2" onclick="deleteUser()">
                            <i class="fa"></i>删除用户
                        </button>
                        <div class="row">
                            <div class="col-sm-12 offset-sm-0">
                                <table id="grid" data-toggle="table" data-title="用户查询" class="table"
                                       data-toolbar="#toolbar" data-pagination="false" data-page-number="1"
                                       data-page-size="10" data-query-params="queryParams"
                                       data-side-pagination="server"
                                       data-content-type="application/x-www-form-urlencoded"
                                       data-single-select="false" data-click-to-select="true" data-checkbox-header="true"
                                       data-unique-id="id" data-sort-name="id" data-sort-order="desc"
                                       data-icons="bui.variable.icons"
                                       data-buttons-class="primary">
                                    <thead>
                                    <tr>
                                        <th data-checkbox="true">选择</th>
                                        <th data-field="departmentId" data-align="center">
                                            组织
                                        </th>
                                        <th data-field="realName" data-align="center">
                                            姓名
                                        </th>
                                        <th data-field="position" data-align="center">
                                            职位
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="form-group col">
                    <label for="notes">备注</label>
                    <input id="notes" class="form-control" name="notes"  maxlength="120">
                </div>
            </div>
            <div style="height: 100px">
            </div>
            <div class="modal-footer-wrap">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.diaAdd.hide()" data-hotkey="{key: 'Ctrl+E'}">取消</button>
                    <button type="button" class="btn btn-primary px-5" onclick="bui.util.debounce(saveOrUpdateHandler,1000,true)()" id="formSubmit" data-hotkey="{key: 'Ctrl+S'}">保存</button>
                </div>
            </div>
        </form>
    </div>
</#bs4Body>

<script type="text/javascript" src="${contextPath!}/resources/wangeditor/js/dist/wangEditor.min.js"></script>

<script>

    //操作类型
    var opType=${opType!};
    const E = window.wangEditor;
    const editor = new E('#editor');
    // 或者 const editor = new E(document.getElementById('div1'))
    editor.config.zIndex=5;
    editor.config.height = 200;
    editor.create();
    let _grid = $('#grid');
    var departmentAuthResult;

    var annunciateDto={};

    //时间范围
    lay('.settletime').each(function () {
        laydate.render({
            elem: this
            , theme: '#007bff',
            format: 'yyyy-MM-dd HH',
            event: 'click', //触发事件
            type: 'datetime',
            min: dateFormat("YYYY-mm-dd HH:MM", new Date())
        });
    });

    //树
    let zTreeConfig = {
        //默认选中
        checks: [],
        height: 233,
        filter: false,
        searchShowParent: false,
        // 单选还是多选 radio checkbox
        chkStyle: "checkbox",
        callback: {
            onCheck: function (e, treeNode) {

            } /*选中事件的回调*/
        },
        //自定义数据格式
        data: {
            key: {
                name: "name",
                isParent: "isParent"
            },
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "parentId",
                rootPId: 0
            }
        },
        zNodes: []
    };

    $(function () {
        initCom();

        initTree();

        $(window).resize(function () {
            _grid.bootstrapTable('resetView')
        });
        _grid.bootstrapTable('refreshOptions', {
            datatype:'local',
            url: '',
            responseHandler: function (res) {
                if (res.code && res.code == "200") {
                    return res.data;
                }
                return [];
            }
        });
    })

    function initTree() {
        var checks=[];
        if(opType=="update"){
            //初始化数据时将部门id返回生成树
            checks=initDate();
        }

        //文件部门权限树配置
        let departmentTree = Object.assign({}, zTreeConfig);

        //加载部门树
        departmentTree.zNodes =${departmentList!};
        departmentTree.chkStyle = "checkbox";
        departmentTree.checks =checks;
        departmentTree.callback.onCheck = function (e, treeNode) {

        };
        departmentAuthResult = $("#departmentTree").treeSelect(departmentTree)
        if(checks.length>0){
            $("#departmentTree").click();
        }
    }

    function initDate() {
        var annunciate=${annunciate!};
        var annunciateTargets=${annunciateTargets!};

        //保存初始化数据
        annunciateDto.id=annunciate.id;
        annunciateDto.type=annunciate.type;
        annunciateDto.creatorId=annunciate.creatorId;
        annunciateDto.createTime=annunciate.createTime;
        annunciateDto.readCount=0;
        annunciateDto.version=annunciate.version;

        $("#title").val(annunciate.title);
        $("#publishType").val(annunciate.publishType);
        if(annunciate.publishType==2){
            $("#startTime").val(annunciate.startTimeStr);
            $("#startTimeDev").show();
        }
        editor.txt.html(annunciate.content);
        $("#endTime").val(annunciate.endTimeStr);
        $("#notes").val(annunciate.notes);
        var checks=[];
        annunciateTargets.forEach((targe) => {
            var systemSelectVal=$('input:radio:checked').val()
            //所有用户
            if(targe.targetRange==1){
                $(':radio[name="systemVal"]').eq(0).attr("checked",true);
            }
            //指定用户
            if(targe.targetRange==2){
                $(':radio[name="systemVal"]').eq(2).attr("checked",true);
                $("#systemUserAndDepartDev").show();
                $("#userDev").show();
            }
            //指定部门
            if(targe.targetRange==3){
                if(systemSelectVal!=3){
                    $(':radio[name="systemVal"]').eq(1).attr("checked",true);
                    $("#systemUserAndDepartDev").show();
                    $("#departmentDev").show();
                }
                checks.push(targe.targetRangeId);
            }
            //公司
            if(targe.targetRange==4){

            }
            //司机
            if(targe.targetRange==5){
                $("#driverBtn").attr("checked", true);
            }
            //买家
            if(targe.targetRange==6){
                $("#bureyBtn").attr("checked", true);
            }
            //经营户
            if(targe.targetRange==7){
                $("#sellerBtn").attr("checked", true);
            }
        });
        var appointUsers=${appointUsers!};
        if(appointUsers!=""){
            var userOlds=[];
            appointUsers.forEach((targeItem) => {
                if(1==1){
                    userOlds.push({id:targeItem.id, realName:targeItem.realName, position:targeItem.position, departmentId:targeItem.departmentId});
                }
            });
            _grid.bootstrapTable('load', userOlds);
        }
        return checks;
    }

    /**
     * 查询处理
     */
    function queryDataHandler() {
        _grid.bootstrapTable('refresh');
    }

    /**
     * table参数组装
     * 可修改queryParams向服务器发送其余的参数
     * @param params
     */
    function queryParams(params) {
        let temp = {
            user: params.order
        };
        return $.extend(temp, bui.util.bindGridMeta2Form('grid', 'queryForm'));
    }

    /**
     * 初始化按钮事件
     */
    function initCom() {
        $("#publishType").change(publishTypeSelectFun);
        $("#systemBtn").click(function () {
            $("#systemDev").show();
            $("#customerDev").hide();
            $("#systemUserAndDepartDev").show();
        });
        $("#customerBtn").click(function () {
            $("#systemDev").hide();
            $("#customerDev").show();
            $("#systemUserAndDepartDev").hide();
        });
        $("#departmentBtn").click(function (val) {
            $("#departmentTree").click();
            $("#systemUserAndDepartDev").show();
            $("#userDev").hide();
            $("#departmentDev").show();
        });
        $("#userBtn").click(function (val) {
            $("#systemUserAndDepartDev").show();
            $("#departmentDev").hide();
            $("#userDev").show();
        });
        $("#allUserBtn").click(function (val) {
            $("#systemUserAndDepartDev").hide();
        });
    }

    /**
     * 发布状态的选择
     */
    function publishTypeSelectFun() {
        var publishType=$("#publishType").val();
        if(publishType==2){
            $("#startTimeDev").show();
            $("#startTime").attr("required",true);
        }else{
            $("#startTime").val("");
            $("#startTimeDev").hide();
            $("#startTime").attr("required",false);
        }
    }

    /**
     * 保存数据信息
     */
    function saveOrUpdateHandler() {
        // 提交保存
        if (!$('#saveForm').validate().form()) {
            return false;
        }
        //校验开始时间必须小于结束时间
        var startTime=$("#startTime").val();
        var endTime=$("#endTime").val();
        if(startTime!=""){
            if(startTime>=endTime){
                bs4pop.alert("开始时间必须小于结束时间！", {type: 'error'});
                return ;
            }
        }
        var annunciateTargets=[];
        var annunciateItems=[];
        var systemSelectVal;
        var users=[];
        if(systemSelectVal=$('input:radio:checked').val()){
            var annunciateTarget={};
            annunciateTarget.targetType=1;
            //所有人
            if(systemSelectVal==1){
                annunciateTarget.targetRange=1;
                annunciateTargets.push(annunciateTarget);
            }
            //指定用户
            if(systemSelectVal==2){
                annunciateTarget.targetRange=2;
                annunciateTargets.push(annunciateTarget);
                users=_grid.bootstrapTable("getData");
                if(users.length==0){
                    bs4pop.alert("指定用户时，最少选择一个用户！", {type: 'error'});
                    return ;
                }
                for(var i=0;i<users.length;i++){
                    var annunciateItem={};
                    annunciateItem.targetId=users[i].id;
                    annunciateItem.targetName=users[i].realName;
                    annunciateItems.push(annunciateItem);
                }
            }
            //指定部门
            if(systemSelectVal==3){
                var departments=departmentAuthResult.getCheckedObject()
                if(departments.length==0){
                    bs4pop.alert("指定部门时，最少选择一个部门！", {type: 'error'});
                    return ;
                }
                for(var i=0;i<departments.length;i++){
                    annunciateTarget={};
                    annunciateTarget.targetType=1;
                    annunciateTarget.targetRange=3;
                    annunciateTarget.targetRangeId=departments[i].id;
                    annunciateTargets.push(annunciateTarget);
                }
            }
        }
        if($("#driverBtn").is(":checked")){
            var annunciateTarget={};
            annunciateTarget.targetType=2;
            annunciateTarget.targetRange=5;
            annunciateTargets.push(annunciateTarget);
        }
        if($("#bureyBtn").is(":checked")){
            var annunciateTarget={};
            annunciateTarget.targetType=2;
            annunciateTarget.targetRange=6;
            annunciateTargets.push(annunciateTarget);
        }
        if($("#sellerBtn").is(":checked")){
            var annunciateTarget={};
            annunciateTarget.targetType=2;
            annunciateTarget.targetRange=7;
            annunciateTargets.push(annunciateTarget);
        }
        if(annunciateTargets.length==0){
            bs4pop.alert("请选择发送范围！", {type: 'error'});
            return ;
        }
        var annunciateDto=getAnnunciateDto();
        annunciateDto.annunciateTargets=annunciateTargets;
        annunciateDto.annunciateItems=annunciateItems;
        var url=opType=="update"?"update.action":"insert.action";
        var tips =opType=="update"?'更新成功！':'新增成功！';
        bui.loading.show('努力提交中，请稍候。。。');
        $.ajax({
            type: "POST",
            url: "/annunciate/"+url,
            data: JSON.stringify(annunciateDto),
            contentType: 'application/json',
            dataType: "json",
            async: true,
            success: function (res) {
                bui.loading.hide();
                if (res.code == "200") {
                    parent.bs4pop.alert(tips, {type: 'success',onHideStart(){
                            parent.diaAdd.hide();
                            parent.location.reload();
                        }});
                } else {
                    bui.loading.hide();
                    bs4pop.alert(res.message, {type: 'error'});
                }
            },
            error: function (error) {
                bui.loading.hide();
                bs4pop.alert(error.message, {type: 'error'});
            }
        });
    }

    /**
     * 组装提交主表值
     */
    function getAnnunciateDto() {
        annunciateDto.title=$("#title").val();
        annunciateDto.publishType=$("#publishType").val();
        annunciateDto.startTime=$("#startTime").val();
        if(annunciateDto.startTime!=""){
            annunciateDto.startTime=annunciateDto.startTime+":00:00"
        }
        annunciateDto.endTime=$("#endTime").val();
        if(annunciateDto.endTime!=""){
            annunciateDto.endTime=annunciateDto.endTime+":00:00"
        }
        annunciateDto.notes=$("#notes").val();
        annunciateDto.content=editor.txt.html();
        return annunciateDto;
    }

    //弹出用户选择界面
    function openUserPageHandler() {
        let ids = [];
        diaUserAdd = bs4pop.dialog({
            title: '选择用户',// 对话框title
            content: '${contextPath}/component/userSelect.html?ids=' + ids, // 对话框内容，可以是
            width: '70%',// 宽度
            height: '90%',// 高度
            isIframe: true,// 默认是页面层，非iframe
            backdrop: 'static',
        });
    }

    //选择用户回调函数
    function selectUsersCallback(items) {
        var oldUsers=_grid.bootstrapTable("getData");
        authList = [];
        if (items) {
            items.forEach((item) => {
                var addFlag=true;
                oldUsers.forEach((userItem) => {
                    if(userItem.id==item.id){
                        addFlag=false;
                        return;
                    }
                });
                if(addFlag){
                    authList.push({id: item.id, realName: item.realName,position:item.position,departmentId:item.departmentId});
                }
            });
        }
        _grid.bootstrapTable('load', authList);
    }

    //删除用户
    function deleteUser() {
        let rows = _grid.bootstrapTable('getSelections');
        if (!rows || rows.length <= 0) {
            bs4pop.alert('请选择数据进行删除!');
            return;
        }
        var ids=[];
        rows.forEach((row) => {
            ids.push(row.id);
        });
        _grid.bootstrapTable('remove', {
            field: 'id',//对应该字段ID的columns的field
            values: ids//字段ID的值
        })
        _grid.bootstrapTable('refreshOptions', {});
    }


    /**
     * 格式化时间
     * @param fmt
     * @param date
     * @returns {*}
     */
    function dateFormat(fmt, date) {
        let ret;
        const opt = {
            "Y+": date.getFullYear().toString(),        // 年
            "m+": (date.getMonth() + 1).toString(),     // 月
            "d+": date.getDate().toString(),            // 日
            "H+": date.getHours().toString(),           // 时
            "M+": date.getMinutes().toString(),         // 分
            "S+": date.getSeconds().toString()          // 秒
            // 有其他格式化字符需求可以继续添加，必须转化成字符串
        };
        for (let k in opt) {
            ret = new RegExp("(" + k + ")").exec(fmt);
            if (ret) {
                fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
            }
        }
        return fmt;
    }
</script>